---
---

@import "{{site.theme}}";

.page-header {
    color: #fff;
    background-color: #018BA9;
    background-image: linear-gradient(
                    120deg, #000000, #000000);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-family: Talent, sans-serif;
    color: #101920;
}

a.no_style_link {
    text-decoration: none;
    color: inherit;
}

.header-image {
    max-width: 50%;
    max-height: 50vh;
    margin: auto;
}

body {
    font-family: Talent, sans-serif;
    color: #101920;
}